<p>business-snap works!</p>
<h1 class="businessTitle">Jimmy Chop</h1>
        <div class="detailContainer">
            <div class="leftDetailContainer">
                <img class="detailPic" src="/stellavi1/assests/images/stocks/eugene-chystiakov-taZSJ6xmt48-unsplash.jpg" alt="">

            </div>
            <div class="rightDetailContainer">
                <div class="contactInfo boxMaker">
                    <p>Telephone: 555-555-5555</p>
                    <p>Address: 1 Don Know Da Way, Herriman, UT</p>

                </div>
                <div class="bio">
                    <h3>About Jimmy</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Feugiat in fermentum posuere urna nec tincidunt. 
                        Amet nulla facilisi morbi tempus iaculis. Vel orci porta 
                        non pulvinar neque laoreet. Ornare arcu odio ut sem nulla 
                        haretra. Non quam lacus suspendisse faucibus interdum posuere. 
                        Amet cursus sit amet dictum sit amet justo donec enim. Adipiscing 
                        commodo elit at imperdiet dui accumsan sit amet nulla. Tellus in 
                        metus vulputate eu scelerisque. Hendrerit gravida rutrum quisque 
                        non tellus orci ac. Eget lorem dolor sed viverra ipsum. Nec 
                        ultrices dui sapien eget mi proin sed libero. Montes nascetur 
                        ridiculus mus mauris. Facilisis mauris sit amet massa vitae tortor condimentum.</p>
                </div>
                <div class="work boxMaker">
                    <img class="workImg" src="/stellavi1/assests/images/stocks/chris-knight-vI3m5UnZ0aQ-unsplash.jpg" alt="">
                    <img class="workImg" src="/stellavi1/assests/images/stocks/ayo-ogunseinde-2Lm_Hb8sH4s-unsplash.jpg" alt="">
                    <img class="workImg" src="/stellavi1/assests/images/stocks/hair-spies-0KYSw5C2E00-unsplash.jpg" alt="">
                    <img class="workImg" src="/stellavi1/assests/images/stocks/hair-spies-ClilMdu189E-unsplash.jpg" alt="">
                    <img class="workImg" src="/stellavi1/assests/images/stocks/nathan-fertig-5EIW3DDX6dw-unsplash.jpg" alt="">
                    <img class="workImg" src="/stellavi1/assests/images/stocks/danial-igdery-P-IQfDFkn9k-unsplash.jpg" alt="">
                </div>
                <div class="detailContainer">
                    <div class="leftDetailContainer">
                        <h2>Contact Jimmy</h2>
                        <form class="detailContactForm" action="">
                            <label for="name">Name: </label>
                            <input type="text" name="name" placeholder="Enter Name">

                            <label for="name">Email: </label>
                            <input type="text" name="name" placeholder="Enter email">

                            <label for="name">Comment: </label>
                            <textarea type="text" name="name" placeholder="Enter Name"></textarea>

                            <button class="pageLoadMore">Contact Jimmy</button>
                        </form>
                    </div>
                    <div class="rightDetailContainer">
                        <h2>Book Jimmy!</h2>
                        <p>Calendar Booking App Here</p>
                    </div>
                </div>
            </div>
        </div>