<div class="searchLocale">
            
    <div class="searchCards">
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/cesar-rincon-XHVpWcr5grQ-unsplash.webp" alt="">
            <a class="searchH" href="./pages/searchLinks/barber.html">
                Barber
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/rune-enstad-cowLgyb63c4-unsplash.webp" alt="">
            <a class="searchH" href="./pages/searchLinks/color.html">
                Blading
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/kareya-saleh-tLKOj6cNwe0-unsplash.webp" alt="">
            <a class="searchH" href="./pages/searchLinks/color.html">
                Color
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/averie-woodard-4nulm-JUYFo-unsplash.webp" alt="">
            <a class="searchH">
                Hair
            </a>
        </div>
        
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/alysa-bajenaru-88IV5AtWjB8-unsplash.webp" alt="">
            <a class="searchH">
                Make-Up
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/christin-hume-0MoF-Fe0w0A-unsplash.webp" alt="">
            <a class="searchH">
                Massage
            </a>
        </div>
        
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/charlesdeluvio-7tw1GLJt7BU-unsplash.webp" alt="">
            <a class="searchH">
                Self-Tanner
            </a>
        </div>
            
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks/shrunk/alvin-mahmudov-sYIqGW3hufI-unsplash.webp" alt="">
            <a class="searchH">
                Wedding
            </a>
        </div>

        
        <!-- EXTRA CARDS 
        
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div>
        <div class="searchCard">
            <img class="searchImg" src="./assets/images/stocks images stvi/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="">
            <a class="searchH">
                <h3>Barber</h3>
            </a>
        </div> -->
        
    </div>
    

</div>