<div class="loginContainer">
    <div class="indvlContainer">    
        <form>
            <!-- <h1>Client Login</h1>   -->
            <div class="logContainer">
                <label for="uname" ><b>Username</b></label>
                <input class="loginInput" type="text" placeholder="Enter Username" name="uname" >
            
                <label for="psw"><b>Password</b></label>
                <input class="loginInput" type="password" placeholder="Enter Password" name="psw" >
                    
                <button class="loginButton"><a href="./clientDash.html">Login</a></button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        
            <div class="logContainer" >
                <button type="button" class="cancelbtn">Cancel</button>
            <div>
                <a href="#">Forgot password?</a>
            </div> 
            </div>
        </form>
    </div>
    <!-- <div class="dividerThick"></div>
    <div class="indvlContainer">    

        
        <form>
            <h1>Business Login</h1>  
                    
            <div class="logContainer">
            <label for="uname" style="padding-top: 1rem"><b>Username</b></label>
            <input class="loginInput" type="text" placeholder="Enter Username" >
        
            <label for="psw" style="padding-top: 1rem"><b>Password</b></label>
            <input class="loginInput" type="password" placeholder="Enter Password" name="psw" >
                
            <button class="loginButton"><a style="color: white" href="./businessDash.html">Login</a></button>

            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            </div>
        
            <div class="logContainer" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <div>
                    <a href="#">Forgot password?</a>
                </div>    
            </div>
        </form>
    </div> -->
</div>
