<header>
    <nav>
        <div class="container">
            <img class="logo" src="../../assets/images/Logo1.1.png" alt="Logo">
            <div class="divider"></div>
            <img class="stellaWord" src="./assets/images/StellaVi LetteringCROP.png" alt="lettering">
            <!-- <h1 class="stellaWord2">StellaVi</h1> -->
        </div>
        <div class="navContainer">
                <ul class="navUl">
                    
                    <a href="./index.html" class="active headList"><li>Home</li></a>
                    <div class="divider"></div>
                    
                    <a href="./pages/search-main.html" class="headList"><li>Search</li></a>
                    <div class="divider"></div>
                    
                    <a href="./pages/sign-in.html" class="headList"><li>Sign In</li></a>
                    <div class="divider"></div>
                    
                    <a href="./pages/about.html" class="headList"><li>About StellaVi</li></a>
                </ul>
        </div>
    </nav>
</header>