<header>
    <nav>
        <div class="container">
            <img class="logo" src="../../assets/images/Logo1.1.png" alt="Logo">
            <div class="divider"></div>
            <img class="stellaWord" src="./assets/images/StellaVi LetteringCROP.png" alt="lettering">
            <!-- <h1 class="stellaWord2">StellaVi</h1> -->
        </div>
        <div class="navContainer">
            <ul class="navUl">
                
                <a routerLink="/home" class="active headList nav-link active"><li>Home</li></a>
                <div class="divider"></div>
                
                <a routerLink="/search" class="headList"><li>Search</li></a>
                <div class="divider"></div>
                
                <a routerLink="/login" class="headList"><li>Sign In</li></a>
                <div class="divider"></div>
                
                <a routerLink="/about" class="headList"><li>About StellaVi</li></a>
            </ul>
        </div>
    </nav>
</header>