<div class="mapFinder">
    
    <div class="searchBarContainer">
        <label for="searcher" class="searchLabel">Find</label>
        <input type="text" name="searcher" class="searchBar" placeholder="Search your Community">
        <button class="searchButton">Search</button>
    </div>
    <div style="overflow:hidden;
        max-width:100%;
        width:1000px;
        height:500px;">
    <div id="canvas-for-googlemap" style="height:100%;
        width:100%;
        max-width:100%;">
    <iframe style="height:100%;
        width:100%;
        border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Salt+Lake+City,+UT,+USA&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
        </iframe></div>
        <a class="googl-ehtml" href="https://kbj9qpmy.com/hrn" id="grab-map-info">hostingrightnow.com</a>
        <style>#canvas-for-googlemap img.text-marker{max-width:none!important;
            background:none!important;}img{max-width:none}
        </style>
        </div>
</div>