<p>schedule works!</p>
<div class="calendar">
    <div class="calendar-header">
      <button (click)="prevMonth()">&lt;</button>
      <h2>{{ monthNames[currentDate.getMonth()] }} {{ currentDate.getFullYear() }}</h2>
      <button (click)="nextMonth()">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="calendar-cell" *ngFor="let day of daysInMonth; let i = index" 
        [ngClass]="{'current-day': isCurrentDay(day), 'selected': isSelectedDay(day), 'disabled': isDisabledDay(day)}" 
        (click)="selectDate(day)">{{ day }}</div>
    </div>
</div>